<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + Lit + TS</title>
  </head>
  <body>
    <signal-button variant="primary" secondaryText="HELLO" (onClick)="doSomething()">BELI PULSA</signal-button>
    <signal-button variant="secondary">BELI PULSA</signal-button>
    <signal-button variant="text">BELI PULSA</signal-button>
    <signal-otp/>
    <signal-button-socmed variant="apple" (onClick)="doSomething()"></signal-button-socmed>
    <signal-button-socmed variant="facebook"></signal-button-socmed>
    <signal-button-socmed variant="google"></signal-button-socmed>
    <signal-button-socmed variant="twitter"></signal-button-socmed>
    <signal-button-floating badge="99+"></signal-button-floating>
    <signal-button-icon variant="primary"></signal-button-icon>
    <signal-checkbox>Hey, BELI PULSA</signal-checkbox>
    <signal-radio>Hey, BELI PULSA</signal-radio>
    <signal-toggle></signal-toggle>
    <signal-language-selector country="ID" flagIcon="indonesia" chevron></signal-language-selector>
    <signal-text-field label="Username" placeholder="Masukkan username anda" />
  </body>
</html>